.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: cursive;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
* > :focus {
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  height: 2rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: -15px;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

H1 {
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;

  flex-direction: row;
}
input[type="text"] {
  width: 25rem;
  height: 2em;
}
.add {
  position: relative;
  right: 2rem;
  background: orange;
  border: 0px;
  height: 1rem;
}

.todo-container {
  display: flex;
  width: 100%;
  /* flex: 1; */
  justify-content: center;
  flex-direction: row;
}
.todo-list {
  list-style-type: none;
  width: 25rem;

  padding: 0px;
}
.todo {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.todo-Item {
  flex: 1;
  padding: 10px;
}
.todo-Item:hover {
  background: #e7e7fa;
}
.completed {
  text-decoration: line-through;
}
.btnTrash {
  border: 0px;
  width: 3em;
  background: orange;
}
.btnCheck {
  width: 3em;
  border: 0px;
  background: green;
}
